@page
@model KoiManagement_GUI.Pages.SignupPageModel
@{
}
<body>
	<div class="wrapper">
		<form method="post">
			<h1>Sign up</h1>
			<div class="input-box">
				<input type="text" placeholder="Username" required>
				<i class='bx bxs-user'></i>
			</div>
			<div class="input-box">
				<input type="text" placeholder="Fullname" required>
				<i class='bx bxs-user'></i>
			</div>
			<div class="input-box">
				<input type="password" placeholder="Password" required>
				<i class='bx bxs-lock-alt'></i>
			</div>
			<div class="input-box">
				<input type="password" placeholder="Confirm password" required>
				<i class='bx bxs-lock-alt'></i>
			</div>
			<button type="submit" class="btn">Sign up</button>
			<div class="register-link">
				<p>Already had an account? <a href="LoginPage">Register</a></p>
			</div>
		</form>
	</div>
</body>
