@page
@model KoiManagement_GUI.Pages.CriteriaPage.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Criteria</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Criteria.Name" class="control-label"></label>
                <input asp-for="Criteria.Name" class="form-control" />
                <span asp-validation-for="Criteria.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Criteria.Percent" class="control-label"></label>
                <input asp-for="Criteria.Percent" class="form-control" />
                <span asp-validation-for="Criteria.Percent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Criteria.Id" class="control-label"></label>
                <input asp-for="Criteria.Id" class="form-control" />
                <span asp-validation-for="Criteria.Id" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Criteria.Active" /> @Html.DisplayNameFor(model => model.Criteria.Active)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Criteria.CreateAt" class="control-label"></label>
                <input asp-for="Criteria.CreateAt" class="form-control" />
                <span asp-validation-for="Criteria.CreateAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Criteria.UpdateAt" class="control-label"></label>
                <input asp-for="Criteria.UpdateAt" class="form-control" />
                <span asp-validation-for="Criteria.UpdateAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Criteria.DeleteAt" class="control-label"></label>
                <input asp-for="Criteria.DeleteAt" class="form-control" />
                <span asp-validation-for="Criteria.DeleteAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
